
<div>
  <div class="wrapper">
    <div class="login_item">
      <span class="item_name">name:</span>
      <input type="text">
    </div>
    <div class="login_item">
      <span class="item_name">password:</span>
      <input type="text">
    </div>
    <div class="login_item">
      <span class="item_name">testcode:</span>
      <input type="text">
    </div>
    <div>
      <span class="item_name">image:</span>
      <input type="text">
    </div>

    <div class="login_btn">
      <a routerLink="/dashboard">跳转</a>
    </div>
  </div>
</div>



